body{
  font-family: 'Montserrat', sans-serif;
  background: #141414;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #232526, #141414);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #232526, #141414); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff
}

/* Navbar */
nav{
  background-color: transparent  !important;
}
/* Signin */
.box-input-signin{
  display: block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
.box-input-signin input{
  color: #fff
}
.btn-signin{
  width: 45%;
}

/* Welcome */
.movie-img img {
  height: 180px;
  width: 120px;
  object-fit: cover;
}
/* Slider */
.box-movie{
  padding: 10;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}
/* UserShow */
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.top-left {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 16px;
}

.avatar-card {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
}
/* Movie Show */
.box-cast{
  display: block;
  width: 150px;
  border:1px solid #141414;
}

.box-cast img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}



@media only screen and (max-width: 600px) {
  /* Signin Signup */
  .box-input-signin{
    width: 100%;
  }
  .btn-signin{
    width: 100%;
  }
}
